<h1>id: <%= @task.id %> の詳細</h1>

<p>内容: <%= @task.content %></p>
<p>状態: <%= @task.status %></p>
<p>ユーザ: <%= current_user.name %></p>

<%= link_to '一覧に戻る', tasks_path %>
<%= link_to '編集', edit_task_path(@task) %>
<%= link_to '削除', @task, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>